.cards{
  background-color: var(--bg-dark);
  width: 100%;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  gap: 2rem;
  margin: 1rem 0 4rem;
  padding: 1rem;
}

.card {
  width: 22rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--bg-hero);
  line-height: 145%;
  padding: 1rem;
}

.card hr{
  border: 2px solid var(--bg-red); 
  background-color: var(--bg-red);
  width: 85px;
}

.card:first-child {
  background-color: var(--bg-red);
}

.card:first-child hr{
  border-color: var(--bg-dark);
  background-color: var(--bg-dark);
}

.card:last-child {
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .cards{
    flex-flow: row wrap;
  }
}

@media (min-width: 1024px) {
  .cards{ 
    flex-flow: row nowrap;
  }

  .cards::after{
    content: " ";
    position: absolute;
    width: 16rem;
    height: 3rem;
    background-color: red;
    z-index: 0;
    transform: translate(23.5rem, 6.5rem);
  }
}

@media (min-width: 1440px) {
  .cards::after{
    transform: translate(27.5rem, 6.5rem);
  }
}