.express{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.mvp,
.fintech{
  background-color: var(--bg-dark)
}
.mvp hr,
.fintech hr{
  border-color: var(--bg-red);
}

.mvp path,
.fintech path{
  fill:var(--bg-dark)
}

.head,
.project{
  background-color: var(--bg-red);
}
.head hr,
.project hr{
  border-color: var(--bg-dark);
}

.head button,
.project button{
  color: var(--bg-red);
}

.express-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em 2em;
  color: var(--text-white);
}

.express-content h4{
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.express-content picture img{
  width: 100vw;
  height: 322.27px;
}

.express-content hr{
  width: 90px;
  border: 2px solid;
}

.express-content p{
  margin: 1em 0;
}