.express{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.express-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.express-content > div{
  padding: 1rem;
}

.express-content p{
  margin-bottom: 1rem;
}

.express-content h4{
  font-size: 1.25rem;
  font-weight: var(--black);
}

.express-content img{
  width: 100%;
  height: 20rem;
} 

.express-content hr{
  width: 6rem;
  border: 1px solid;
  margin: 1rem 0;
}

.mvp,
.fintech{
  background-color: var(--bg-dark)
}
.mvp hr,
.fintech hr{
  border-color: var(--bg-red);
  background-color: var(--bg-red);
}

.mvp path,
.fintech path{
  fill:var(--bg-dark)
}

.head,
.project{
  background-color: var(--bg-red);
}
.head hr,
.project hr{
  border-color: var(--bg-dark);
  background-color: var(--bg-dark);
}

.head button,
.project button{
  color: var(--bg-red);
}

@media (min-width: 1024px){
  .express-content{
    flex-direction: row
  }

  .express-content > div{
    padding: 0 2rem;
  }

  .express-content img{
    width: 50%;
    height: 100%;
  } 
  
  .express-content p{
    margin-bottom: 0.5rem;
  } 
  
  .mvp,
  .fintech{
    flex-direction: row-reverse;
  }
}

@media (min-width: 1440px){
  .express-content > div{
    padding: 0 5rem;
  }

  .express-content img{
    height: 34.4rem;
  } 
  
  .express-content p{
    margin-bottom: 1rem;
  }

  .express-content h4{
    font-size: 2.25rem
  }

  .express-content hr{
    width: 12rem;
  }
}
