footer{
  min-height: 60vh;
  width: 100%;
  background-color: var(--bg-dark);
  padding: 2em 1em;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2em;
  background-image: url(../img/rhcp-mobile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  order: 1;
  margin-bottom: 2em;
}

.title-section h3{
  font-size: 21.32px;
  margin-bottom: 0.5em;
}
.title-section h2{
  font-size: 37.91px;
}

.title-section img{
  width: 40px;
}

.midias, 
.midias + div,
.hard-code,
.services{
  display: flex;
}

.midias{
  gap: 2em;
  order: 3;
}

.midias + div{
  order: 2
}

.hard-code,
.services{
  flex-flow: column wrap; 
  flex-basis: 100%;
  gap: 10px;
}
.hard-code p,
.services p{
  font-weight: 900;
}

.copyright{
  border-top: 1px solid #fff;
  padding-top: 1em;
  font-size: 14px;
  text-align:center;
  order: 4;
}