footer{
  min-height: 60vh;
  width: 100%;
  background-color: var(--bg-dark);
  padding: 2rem 1rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2rem;
  background-image: url(../img/rhcp-mobile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  order: 1;
  margin-bottom: 2rem;
}

.title-section h3{
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.title-section h2{
  font-size: 37.91px;
}

.title-section img{
  width: 40px;
  height: 100%;
}

.midias, 
.midias + div,
.hard-code,
.services{
  display: flex;
}

.midias{
  gap: 2rem;
  order: 3;
}

.midias img{
  width: 1.5rem;
  height: 1.5rem;
}

.midias + div{
  order: 2
}

.hard-code,
.services{
  flex-flow: column wrap; 
  flex-basis: 100%;
  gap: 0.625rem;
}
.hard-code p,
.services p{
  font-weight: 900;
}

.copyright{
  border-top: 1px solid #fff;
  padding-top: 1rem;
  font-size: 0.7rem;
  text-align:center;
  order: 4;
}

@media (min-width: 1024px) {
  footer{
    padding: 2rem 10rem;
  }

  .title-section img{
    width: 102px;
  }

  .midias + div{
    order: 3;
    gap: 5rem;
    margin-left: auto;
  }

  .midias{
    position: relative;
    top: 15rem;
  }
  .copyright{
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .title-section h3{
    font-size: 48.45px;
    margin-bottom: 3rem;
  }
  .title-section h2{
    font-size: 86.14px;
  }

  footer {
    background-image: url(../img/rh.png);
    background-position-x: -38rem;
    background-position-y: -0rem;  
  }
  .midias img{
    width: 2rem;
    height: 2rem;
  }
}