*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --medium: 400;
  --regular: 500;
  --semibold: 600;
  --extrabold: 700;
  --black: 900;
  --bg-red: #E73634;
  --bg-dark: #0E0E0E;
  --bg-hero: #161616;
  --text-white: #FFF;
  --text-dark: #000;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  max-width: 100vw;
  line-height: 140%;
  color: #fff;
  background-color: var(--bg-dark);
}

button{
  cursor: pointer;
  border: none;
  width: 11rem; 
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

@media (max-width: 999px){
  body {
    overflow-x: hidden;
  }
}