.hero{
  background-color: var(--bg-hero);
  width: 100%;
  min-height: 35vw;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.hero div{
  font-size: 1.125em;
  font-weight: medium; 
}

h1 span{
  color: var(--bg-red);
}

.hero h1{
  font-size: 1.75em;
  line-height: normal;
  width: 305px;
  margin-bottom: 1em;
  font-weight: extrabold;
}

.hero h2{
  font-size: 1.125em;
  font-weight: medium; 
}

.img-hero{
  position: relative;
  visibility: hidden;
}

.more-know{
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--text-white);
  font-size: 1.125em;
}