.manifesto{
  background-color: var(--bg-red);
  color: var(--text-white);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.manifesto img{
  position: relative;
  bottom: -1.2em;
}

.manifesto > span{
  position: relative;
  right: 2.5em;
  bottom: 0.2em;
  width: 171px;  
  font-size: 26px;
  font-weight: 900;
}

.manifesto-content{
  line-height: 140%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-align: justify;
}

.manifesto-content div{
  width: 21em;
  height: 8.25em;
}

.manifesto-content div span{
  position: relative;
  top: 0.5em;
  color: var(--bg-dark);
  font-weight: 900;
}