.manifesto{
  background-color: var(--bg-red);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.manifesto img{
  position: relative;
  bottom: -1.2em;
}

.manifesto > span{
  position: relative;
  right: 2.5em;
  bottom: 0.2em;
  width: 7em;
  font-size: 1.625em;
  font-weight: var(--black);
}

.manifesto-content{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-align: justify;
}

.manifesto-content div{
  width: 21em;
  height: 8.25em;
}

.manifesto-content div span{
  position: relative;
  top: 0.5em;
  color: var(--bg-dark);
  font-weight: var(--black);
}

@media (min-width: 768px) {
  .manifesto img{
    width: 100%;
  }
  .manifesto-content{
    flex-flow: row wrap;
    gap: 1em;
  }
}