.metodologia{
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-hero);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.metodologia h3 {
  font-size: 1.5rem;
  position: relative;
  top: 2rem;
  margin-bottom: 2rem;
}

.metodologia picture{
  margin: 0 auto;
}

.img-metodologia {
  width: 100%;
  height: 100%;
}

.metodologia-content{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: hidden;
}

.metodologia-content div{
  width: 20rem;
  height: 9.2rem;
}

.metodologia-content + picture{
  position: relative;
  top: 0.4em;
}

@media (min-width: 768px){
  .metodologia h3 {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1024px){
  .img-metodologia {
    width: 50rem;
    height: 5rem;
  }
  .metodologia-content{
    position: relative;
    visibility: unset;
    flex-direction: row;
    width: 80vw;
    gap: 1rem;
  }

  .metodologia:last-child img{
    width: 100%;
  }
}

@media (min-width: 1440px){
  .img-metodologia {
    width: 100%;
    height: 100%;
  }
  .metodologia h3 {
    margin: 5rem 0;
    font-size: 3.5rem;
  }
  .metodologia-content{
    bottom: 1rem;
  }
}