nav{
  display: flex;
  align-items: center;
  justify-content: space-around; 
  width: 100%;
  height: 8vh;
  background-color: var(--bg-hero);
  padding: 5rem 0 4rem;
}

.logo-hardcode{
  width: 4rem;
  height: 7.75rem;
}

.nav-list{
  display: flex;
  align-items: center;
  gap: 3rem;
}

.btn-wpp{
  background-color: var(--bg-red);
  color: var(--text-white);
}
.btn-wpp img{
  width: 1.5rem;
  height: 1.5rem;
}

.mobile-menu{
  cursor: pointer;
  display: none;
}

.mobile-menu div{
  width: 2rem;
  height: 0.125rem;
  background: var(--bg-red);
  margin: 0.5rem;
  transition: 0.3s;
}

@media (max-width: 999px){
  nav{
    padding: 3rem 0 4rem;
  }
  .logo-hardcode{
    width: 2rem;
    height: 4rem;
  }

  .nav-list{
    position: absolute;
    top: 10vh;
    right: 0;
    width: 50vh;
    height: 92vh;
    background: #0E0E0E;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in; 
    z-index: 3;
  }
  .nav-list li{
    margin-left: 0;
    opacity: 0;
  }
  
  .mobile-menu{
    display: block;
  }

  .nav-list.active{
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  } 
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
} 

